*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      width: 80%;
      margin: 0 auto;
  }
  
  header {
      height: 100px;
      width: 100%;
      line-height:100px;
      /*border: 1px solid black;*/
  }

  .nav_left{
      float:left;
      width: 40%;
      display:flex;
      justify-content: flex-start;
      /*border-right: 1px solid black;*/
  }

  .nav_left ul li {
      display:inline-block;
      margin-left: 20px;
  }

  .nav_left ul li a{
      text-decoration: none;
      color: black;
  }

  .nav_right{
    float: right;
    width: 60%;
    /*border-right: 1px solid black;*/
    display:flex;
    flex-direction: row;
}

.nav_right ul li {
    display:inline-block;
    margin-left: 20px;
}

.nav_right ul li a{
    text-decoration: none;
    color: black;
}

  .uppercase{
      text-transform: uppercase;
  }

  button.ms_btn{
      background-color: #ff22bd;
      color: white;
      border-radius: 30px;
      padding: 15px 10px;
      border: none;
  }

  .with-dropdown{ 
      position:relative;
  }

  .dropdown-menu{
      box-shadow: 0 0 15px rgb(87, 84, 84);
      border-radius: 10px;
      position: absolute; 
      width: 150px; 
      display: none;
  }
  
  .dropdown-menu > ul{
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu > ul > li  {
    display: list-item;
    
    list-style: none;
  }
  
  .dropdown-menu > ul > li > a{
      margin-right: 10px;
  }

  .view-dropdown{
      display: block;
  }

  .affiliate_news {
      color:rgb(201, 60, 81);
      font-size: small;
      margin-top: 2px;
  }
  
  